.container.about-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  gap: 50px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.text-zone {
  flex: 1;
  width: 60vw;
  max-width: unset;
  margin-right: 5px;
}

.profile {
  flex: 1;
  width: 20vw;
  height: auto;
  margin-left: 50px;
  display: flex;
}

.profile-img {
  width: 200px;
  height: 180px;
  border-radius: 50%;
  margin-left: 50px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.skills-section,
.interests-section {
  flex: 1;
  width: 22vw;
  min-width: 300px;
  max-width: 30vw;
  position: relative;
  padding: 10px;
}

.skills-section h2,
.interests-section h2,
.skills-category h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffcc00 !important; /* Ensured the yellow color is consistent */
  font-weight: bold;
}

.skills-category h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.skills-section ul,
.interests-section ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.skills-section li,
.interests-section li {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #555;
  flex-basis: 45%;
  box-sizing: border-box;
}

.skills-section li .fa,
.interests-section li .fa {
  font-size: 1.5rem;
}

.skills-section li {
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-section li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.interests-section {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 25vw;
  z-index: 5;
}

.interests-section li {
  font-size: 1.2rem;
}

.skills-section {
  margin-left: 40px;
}

.scroll-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: #ffcc00;
}

.basic-info {
  font-size: 1.2rem;
  color: #555;
  margin-top: 20px;
}

.basic-info a {
  color: #ffcc00;
  text-decoration: none;
}

.basic-info a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .container.about-page {
    flex-direction: column;
    align-items: center;
  }
  .text-zone,
  .skills-section,
  .interests-section {
    width: 90%;
    max-width: none;
  }
  .profile {
    margin-top: 20px;
  }
  .skills-section {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .skills-section {
    margin-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .skills-section {
    margin-left: 0;
  }
}
